# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\django\Django_React_TODO_app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
